<div class="form_field">
    <label for="{{name}}" class="form_field_label">{{label}}:</label>
    <input type="{{type}}" name="{{name}}" id="{{name}}" class="form_field_input" value="{{value}}" {{required}}/>
</div>
