<div class="popup">
    <div class="popup_link {{linkclass}}" id="{{linkid}}" data-target="modal_{{linkid}}">
        {{linktext}}
    </div>
    <div class="popup_modal" id="modal_{{linkid}}">
        <div class="popup_modal_content">
            {{> @partial-block }}
        </div>
    </div>
</div>